.header {
    margin: 50px;
}

.header {
    text-align: center;
    font-size: 30px;
}

.header-1 {
    text-align: center;
    font-size: 30px;
}


.Box {
    margin: 50px;
}

.Box {
    color: red;
    text-align: center;
    background-color: bisque;
    border-radius: 20px;
}

.leter {
    color: black;
}

.party {
    margin: 50px;
}

.party {
    margin: 20px;
}

.box {
    position: absolute;
    font-size: 80px;
    color: aliceblue;
}

.box-1 {
    position: absolute;
    color: aliceblue;
}

.box-2 {
    position: absolute;
    color: aliceblue;
}


.middle {
    text-align: center;
    background-color: rgb(228, 199, 199);
    height: 400px;
    width: 1000px;
    border-radius: 20px;
    margin: 50px;
}

.enjoy {
    color: aliceblue;
    background-color: red;
}

.submit {
    color: red;
}

.Thee {
    color: red;
}

.mango {
    color: red;
}

.Movie {
    color: black;
}

.Moana {
    color: black;
}

.Nova {
    color: black;
}

.headach {
    color: red;
}

.pain {
    font-size: 200%;
}

.box-item-1 {
    border-radius: 20px;
    margin: 50px;
    line-height: 10%;
}

.rude {
    margin: 200px;
    background-color: antiquewhite;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    width: 1000px;
}

.picture-1 {
    text-align: center;
}

.picture {
    text-align: center;
    font-size: 40px;
}

.photo {
    text-align: center;
}

.Maurya {
    background-color: rgb(221, 63, 5)
}

.time-wast {
    font-size: 20px;
}

.goal {
    font-size: 50px;
}

.faltu {
    color: red;
}

.come {
    display: flex;
    background-color: antiquewhite;
    border-radius: 20px;
    margin: 5%;
}

.go {
    display: flex;
}

.click-me {
    line-height: normal;
}

.apple {
    color: red;
    font-size: medium;
}

.guava {
    font-size: 200%;
    display: table-column;
}



.coffee {
    color: red;
}

.vallagena {
    line-height: 10%;
    border-radius: 20px;
    background-color: antiquewhite;
    text-align: center;
    margin: 50px;

}

.lemon {
    text-align: right;
}

.mourning {
    background-color: black;
}


.mourning {
    justify-content: centert;
    text-align: center;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    height: 500px;
    width: 1000px;
}